{{debug}}

{{#fullWidthBlocks}}
<table
  class="mktoModule section-hero contents"
  id="module-fullwidth-story"
  width="100%"
  cellpadding="0"
  cellspacing="0"
  border="0"
  style="font-size:16px;line-height:20px;text-align:left;color:#cccccc;"
>
  <tbody>
    <tr class="one-col">
      <td
        class="image"
        style="font-size:28px;color:#cccccc;font-family:Helvetica,sans-serif;padding-top:0px;"
        bgcolor="#101012"
      >
        <div
          class="mktoImg"
          id="img-fullwidth"
          style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;"
          mktolockimgsize="true"
          mktolockimgstyle="true"
        >
          <a
            style="color:#cccccc;text-decoration:none;"
            href="{{ href }}"
            target="_blank"
            ><img
              src="{{ image_src }}"
              width="600"
              style="border-width:0;height:auto;display:block;width:100%;max-width:600px;"
              data-mc-image-bytes="210162"
              data-mc-width="316"
              data-mc-height="178"
              data-mc-natural-width="997"
              data-mc-natural-height="562"
              alt="{{ title }}"
          /></a>
        </div>
      </td>
    </tr>
    <tr class="one-col">
      <td
        class="inner copy"
        align="left"
        style="text-align:left;padding-top:30px;padding-bottom:30px;padding-right:30px;padding-left:30px;font-family:Helvetica,sans-serif;font-size:16px;line-height:20px;"
      >
        <div
          class="links-copy"
          style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;"
        >
          <a
            style="color: #ffffff;border-bottom:1px solid #e14f3d;text-decoration:none"
            href="{{ href }}"
            style="text-decoration: none;"
          >
            <h2
              style="margin-top:0;margin-right:0;margin-left:0;margin-bottom:12px;font-size:24px;line-height:32px;"
            >
              {{ title }}
            </h2>
          </a>
        </div>
        <div
          class="spacer"
          style="mso-line-height-rule:exactly;font-size:0px;line-height:0px;height:0px;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;display:block;"
        ></div>
        <a
          href="https://www.instagram.com/tonebasepiano/"
          target="_blank"
          style="color: #101012;font-weight: normal;text-decoration: underline;"
          ><img
            height="25"
            src="http://localhost:4000/instagram.jpg"
            style="border: 0px initial;width: 25px;height: 25px;margin: 0px;outline: none;"
            width="19"
            data-mc-image-bytes="1690"
            data-mc-width="25"
            data-mc-height="25"
            data-mc-natural-width="32"
            data-mc-natural-height="32"
        /></a>
        <a
          href="https://www.facebook.com/tonebasepiano/"
          target="_blank"
          style="color: #101012;font-weight: normal;text-decoration: underline;"
          ><img
            height="25"
            src="https://assets.mailcharts.com/emails/images/4638f3e670c2c314668d6715b05074be110f7954.png"
            style="border: 0px initial;width: 25px;height: 25px;margin: 0px;outline: none;"
            width="19"
            data-mc-image-bytes="1793"
            data-mc-width="25"
            data-mc-height="25"
            data-mc-natural-width="32"
            data-mc-natural-height="32"
        /></a>
        <a
          href="https://www.youtube.com/channel/UCRTeNftWBh6ePpiqzyMNmFw"
          target="_blank"
          style="color: #101012;font-weight: normal;text-decoration: underline;"
          ><img
            height="25"
            src="http://localhost:4000/youtube.jpg"
            style="border: 0px;width: 25px;height: 25px;margin: 0px;outline: none;text-decoration: none;"
            width="19"
            data-mc-image-bytes="2036"
            data-mc-width="25"
            data-mc-height="25"
            data-mc-natural-width="32"
            data-mc-natural-height="32"
        /></a>
        <div
          class="spacer"
          style="mso-line-height-rule:exactly;font-size:15px;line-height:15px;height:15px;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;display:block;"
        ></div>
        <div
          class="links-copy"
          style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;"
        >
          <div
            class="mktEditable"
            id="fullwidth-story-text"
            style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;"
          >
            <p style="margin: 0 0 12px 0;">
              {{ description }}
            </p>
          </div>
        </div>
        <table
          class="buttonwrapper align-left"
          align="left"
          cellpadding="0"
          cellspacing="0"
          border="0"
          style="background-color:#dedede;font-size:15px;line-height:17px;text-align:left;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto; border-radius:4px;"
        >
          <tbody>
            <tr>
              <td
                class="button"
                style="background-color:#E14F3D;font-family:Helvetica,sans-serif;border-radius:4px;"
              >
                <a
                  href="{{ href }}"
                  style="border-top-width:10px;border-top-style:solid;border-top-color:#E14F3D;border-bottom-width:10px;border-bottom-style:solid;border-bottom-color:#E14F3D;border-left-width:15px;border-left-style:solid;border-left-color:#E14F3D;border-right-width:15px;border-right-style:solid;border-right-color:#E14F3D;color:#FFFFFF;display:inline-block;text-decoration:none;border-radius:4px;"
                  >{{ button_text }}</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
{{/fullWidthBlocks}}
